/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */


body.body
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000;
    color: white;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

/*   flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] 
     flex: 0 1 auto;
*/
div.body-content {
    background-color: #222;
    padding-left: 15px;
    padding-right: 15px;
    border-radius:25px;
}
img.starimg
{
    width:32px;
    height:32px;
}
.navbar-link, .navbar-link:hover, .navbar-link:visited, .navbar-link:link, .navbar-link:active
{
    color:inherit;
    text-decoration:none;
}
.day-link, .day-link:hover, .day-link:visited, .day-link:link, .day-link:active {
    color: #ddd;
    text-decoration: none;
}
.header {
    background-color: #222;
    order: 1;
    color: white;
}

.footer
{
    background-color:#222;
    
    color:white;
    order:7;
}
.daysContainer {
    
    order: 4;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    
}

div.day-box {
    flex: 1 0 auto;
    height: 150px;
    color: #fee;
    width: 225px;
    padding-right: 15px;
    padding-left: 15px;
    
}

.dayDisplayContainer {
    order: 4;
    display:flex;
   
    flex-wrap:wrap;
    
}

.dayDisplay {
    flex: 1 0 auto;
    height: 300px;
    padding: 5px;
    border-left: 5px solid white;
    border-right: 5px solid white;
    color: #009900;
}


div.day-text{
        
}
textarea 
{
    background-color:#222;
    max-height:500px;
    overflow:scroll;

}
ul.navbar /*header*/ {
    font-size: 18px;
    order: 0;
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    list-style: none;
    align-items: flex-start;
}
.navbar-title
{
    font-size:18pt;
    font-weight:bold;
    flex:1 1 auto;
}
.navbar-item /*link*/
{
    font-size:14pt;
    
    width:100px;
    flex:1 1 auto;
    
    padding-left:10px;
    padding-right:10px;
}



/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

