
@{
    ViewData["Title"] = "Day1";

}

<h2>Day1</h2>
<div style="width:100%;">
    <div style="width:50%; border:2px solid black; float:left;" id="problem">
        @ViewData["Problem"].ToString();

    </div>
    <div style=" width:50%;border:2px solid black; float:left;" id="solution">
        @ViewData["Solution"].ToString();


    </div>
</div>

