
@{
    ViewData["Title"] = "Day3";

}

<h2>@ViewData["Title"]</h2>
<div style="width:100%;">
    <form method="post">
        
        
        <div style="width:50%; top:20px;border:2px solid black; float:left;" id="problem">
            <textarea name="problem" rows="20" cols="50">@ViewData["problem"].ToString()</textarea>

        </div>
        <div style=" width:50%;top:20px;border:2px solid black; float:left;" id="solution">
            <input type="submit" style="height:20px;" /> </br/>
            Checksum of boxes = [@ViewData["Checksum"].ToString()]<br />
            non-unique characters in paired box IDs = [@ViewData["matchingChars"].ToString()]


        </div>
    </form>
</div>

