
@{
    @model AoC18.Models.DayModel;
    if (ViewData["problem"] is null)
    {
        ViewData["problem"] = "The problem has not been defined. \n\r" +
                    "That usually means that this day's problem is still in the very early stages";
    }
    if (ViewData["solution"] is null)
    {
        ViewData["solution"] = "";

    }


}

<h2>Day @Model.DayNumber - @Model.title</h2>
<form method="post">
    <div class="dayDisplayContainer" style="width:100%;">



        <div class="dayDisplay" id="problem" >
            <textarea name="problem" rows="14" style="width:100%;">@ViewData["problem"].ToString()</textarea>

        </div>
        <div class="dayDisplay" id="solution" >
            <input type="submit" style="height:20px;" /><p>@Html.Raw(ViewData["solution"].ToString())</p>

        </div>

    </div>
</form>

