
@{
    @model AoC18.Models.DayModel;
    
}

<h2>Day @Model.DayNumber - @Model.title</h2>
<div style="width:100%;">

    <p>
        This problem hasn't been started yet.
        Enjoy this delightful placeholder instead.
    </p>        


</div>

