
@{
    ViewData["Title"] = "Day3";

}

<h2>@ViewData["Title"]</h2>
<div style="width:100%;">

    <p>
        This problem hasn't been started yet.
        Enjoy this delightful placeholder instead.
    </p>        


</div>

